[Unit]
Description=Backup minetest server
After=local-fs.target
Conflicts=minetestsave.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/minetestserver.sh backup
